@import "../../src/utilities/variables.scss";

.menu{
    color: $firstColor;
    margin: 40px;
    font-size: 2em;
    font-weight: 800;
}

.menu-item{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item:hover{
        color: $thirdColor;
        transition-delay: 10ms;
}

.bullet-hole{
    font-size: 1.40em;
    &::after{
        content: "";
        width: 1em;
        height: 1em;
        display: block;
        margin-left: 10px;
        background-image: url('../../src/bulletHole.svg');
        background-size: 1em;
        background-repeat: no-repeat;
    }
}

.outline{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}