@import "../../src/utilities/variables.scss";
@import "../../src/utilities/options.scss";

.sign {
    --sign-appear-duration: 1s;
    pointer-events: none;
    height: inherit;

    animation: App-sign-spin infinite 20s linear, App-sign-appear calc(var(--toggle) * var(--sign-appear-duration));
    animation-delay: calc(var(--toggle) * var(--sign-appear-duration)), 0s;
    animation-play-state: var(--playState), running;

}

.sign-wrapper{
    position: absolute;
    top: calc(100% - #{$bannerWidth});
    right: calc(-1 * #{$bannerWidth});
    height: calc(2 * #{$bannerWidth});
    width: calc(2 * #{$bannerWidth});
}

.right-banner, .left-banner {
    width: $bannerWidth;
    position: relative;
    overflow: hidden;
    min-width: 200px;
}

.right-banner{
    margin-left: 20px;
}

.left-banner{
    margin-right: 20px;
}

.about_footer{
    position: absolute;
    margin: 5px;
    bottom: 0;
}