@import "./utilities/variables.scss";

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: center;
    min-width: 100vw;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .content {
    min-height: fit-content;
    min-width: fit-content;
    font-size: calc(10px + 2vmin);
    width: auto;
    display: flex;
    flex-grow: 1;
  }

  .App-link {
    color: #61dafb;
  }

