@import "./utilities/variables.scss";

#root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    --sign-width: 35vmin;
  }

  .App {
    text-align: center;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
  }

  .App-sign {
    $sign-appear-duration: 1s;
    position: absolute;
    top: calc(100% - var(--sign-width));
    right: calc(-1 * var(--sign-width));
    animation: App-sign-spin infinite 20s linear $sign-appear-duration, App-sign-appear $sign-appear-duration;
    height: calc(2 * var(--sign-width));
    pointer-events: none;
  }

  .content {
    min-height: 100vh;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
    position: relative;
  }

  .App-link {
    color: #61dafb;
  }

