

#root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    --logo-width: 35vmin;
  }

  .App {
    text-align: center;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
  }

  .App-sign {
    $sign-appear-duration: 1s;
    position: absolute;
    top: calc(100vh - var(--logo-width));
    right: calc(-1 * var(--logo-width));
    animation: App-sign-spin infinite 20s linear $sign-appear-duration, App-sign-appear $sign-appear-duration;
    height: calc(2 * var(--logo-width));
    pointer-events: none;
  }

  .App-header {
    background-color: #ddceae;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
    position: relative;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-sign-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes App-sign-appear {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
